# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.zip

/dist
/.vscode
/tests
/pcl_extend
/build
/thirdparty/dji_thermal_sdk_v1.5_20240507
/thirdparty/**/*.dll
**/pytsdk.egg-info
**/__pycache__



